$font-family:        'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif
$header-font-family: 'Gill Sans Light', GillSans-Light, 'Gill Sans', sans-serif
$fixed-font-family:  'Monaco', 'Andale Mono', 'Lucida Console', monospace

$base-font-size:     14px
$base-line-height:   21px

$total-cols:         12 !default

$font-color:         darken(#4e4c49, 5)
$darker-font-color:  #4e4c49
$header-color:       darken($font-color, 10)
$border-color:       #d0d0d0
$link-color:         #af512c

@import "compass"
@import "susy/susy"
