@import "base"
@import "susy/reset"

+susy

body
  font-family: $font-family
  color: $font-color
  text-rendering: optimizeLegibility

.antialias
  -webkit-font-smoothing: antialiased

a
  +link-colors($link-color)

h1, h2, h3
  &, a
    font-family: $header-font-family
    color: $header-color
    font-weight: 200
    text-decoration: none

h1
  +adjust-font-size-to(30px, 1.6)

h2
  +adjust-font-size-to(22px, 1.4)
  border-bottom: 1px solid $border-color
  +box-shadow(transparentize(#fff, 0.95), 0, 1px, 0)
  +trailer(0.5)
  +padding-trailer(0.25)

h3
  +adjust-font-size-to(18px)

h1+p, h1+ul, h1+ol
  +leader

p, pre, ul, ol, .flash, .table
  +trailer

p strong
  font-weight: bold
  
.date
  color: darken(#C6C6C6, 15)
  font-size: 10px
  white-space: nowrap

#frame, .center
  +container
  position: relative

#header
  +padding-leader(0.75)
  +padding-trailer(0.75)
  background: image-url("pixel-gray.gif")
  +box-shadow(transparentize(black, 0.5), 0, -3px, 12px, 0, inset)
  h1 
    +adjust-font-size-to(36px)
    @extend .antialias
    a
      color: #DADBB1
      text-shadow: 2px 2px 2px transparentize(#000, 0.75) 
  h2
    +adjust-font-size-to(16px, 1.5)
    color: #C6C6C6
    margin: 0
    border: 0
    padding: 0
    +box-shadow(black, 0, 0, 0)
    
  #social
    +padding-leader(0.75)
    font-family: "Gill Sans", GillSans, sans-serif
    text-align: right
    position: absolute
    right: 0
    top: 0
    margin: 0
    color: #C6C6C6
    @extend .antialias
    a
      color: #C6C6C6
      text-decoration: none
      &:hover, &#contact
        text-decoration: underline
  
#post
  +leader(2)
  +columns(8.5)
  h1 
    span
      @extend .date
  p, ul, ol, pre
    @extend .antialias
  ul, ol
    list-style-type: disc
    margin-left: side-gutter() + 5%
  .dsq-options, #dsq-comments-title, #dsq-new-post h3
    display: none
  strong
    color: $darker-font-color
  p img
    padding: 2 * side-gutter()
    border: 1px solid $border-color
    +box-shadow(transparentize(black,0.5), 0, 0, 5px)
  pre
    font-family: $fixed-font-family
    color: $darker-font-color
    background: #DADBB1
    +border-radius(0.5em)
    border: 1px solid $border-color
    padding-left: side-gutter()
    padding-right: side-gutter()
    +leading-border(1px, 1)
    +trailing-border(1px, 1)
    &:hover
      overflow: visible
    strong
      font-weight: normal
      color: black
  #comments
    +leader(2)
    +trailer(2)
    .block
      border-bottom: 1px solid $border-color
      +box-shadow(transparentize(#fff, 0.95), 0, 1px, 0)
      +trailer(1)
      +clearfix
    h2
      +columns(4)
      margin: 0
      +box-shadow(transparent, 0, 0, 0)
      border: 0
    .addthis_toolbox
      +padding-leader(0.6)
      +float-right
      margin-right: 0

#previously
  +leader(2)
  +columns(3)
  +float-right
  margin-right: 0
  ol
    li
      +adjust-font-size-to(12px, 0.75)
      +trailer(0.5)
      a
        text-decoration: none
        &:hover
          text-decoration: underline
      span
        @extend .date


body.index
  article
    border-bottom: 1px solid $border-color
    +box-shadow(transparentize(#fff, 0.95), 0, 1px, 0)
    +leader(1)
    +padding-trailer(1)
    &.first, &:first-child
      margin-top: 0 
  
body.archives
  ul.archives
    li
      a
        text-decoration: none
        &:hover
          text-decoration: underline
      span
        @extend .date
  #previously
    display: none
