@import base
@import susy/reset

+susy

body
  font-family: $font-family
  color: $font-color

a
  +link-colors($link-color)

h1, h2, h3
  font-family: $header-font-family
  color: $header-color
  font-weight: 200

h1
  +adjust-font-size-to(30px)

h2
  +adjust-font-size-to(20px)

h3
  +adjust-font-size-to(18px)

h1+p
  +leader

p, pre, ul, ol, .flash, .table
  +trailer

p strong
  font-weight: bold
  
#frame
  +container

#header
  +padding-leader
  border-bottom: 1px solid $border-color
  position: relative
  +full
  h1 a
    text-decoration: none
  #social
    font-family: "Gill Sans", GillSans, sans-serif
    text-align: right
    position: absolute
    right: 0
    bottom: 0.6em
    margin: 0
    color: lighten($font-color, 40)
    a
      color: lighten($font-color, 40)
      text-decoration: none
      &:hover,
      &#contact
        text-decoration: underline

#post
  +leader
  ul, ol
    list-style-type: disc
    margin-left: side-gutter() + 5%
  h1, h2, h3, p, .flash, .table
    +alpha
  strong
    color: $darker-font-color
  pre
    font-family: $fixed-font-family
    color: $darker-font-color
    background: #f2eadd inline-image("code.gif") no-repeat bottom right
    overflow: visible
    +border-radius(0.5em)
    border: 1px solid $border-color
    padding-left: side-gutter()
    padding-right: side-gutter()
    +leading-border(1px, 1)
    +trailing-border(1px, 1)
    strong
      font-weight: normal
      color: black

#footer
  background: darken(#603d17, 5)
  color: #b09e8b
  +border-top-right-radius(0.5em)
  +border-top-left-radius(0.5em)
  +apply-side-rhythm-border("left")
  +apply-side-rhythm-border("right")
  +clearfix
  h3
    color: #f9f3e8
    +padding-leader
    a
      color: #f9f3e8 !important
  dl
    +leading-border(1px)
    border-top: 1px solid $border-color
    a
      +link-colors(#b09e8b, #f9f3e8)
      font-weight: normal
    dt
      +columns(1)
      float: left
      font-weight: normal
    dd
      +columns(9)
      float: left
      margin-right: 0
      margin-left: 0
      margin-bottom: 1em
