---
layout: false
---
<html>
<head>
  <style>
    body {
      margin: 0;
      padding: 0; }
  </style>
  <script src="particle-rider/javascripts/paper.js" type="text/javascript"></script>
  <script src="particle-rider/javascripts/dat.gui.js" type="text/javascript"></script>
  <title>Particle Rider by Thomas Reynolds</title>
</head>
<body>
  <canvas id="myCanvas" resize></canvas>
  <script src="particle-rider/javascripts/particle-rider.js" type="text/paperscript" canvas="myCanvas"></script>
  
  
</body>
</html>