<h1><%= title %></h1>
<%= body %>

<div id="comments">
  <h2>Comments?</h2>
  <p>
    Let me know at <a href="mailto:thomas@awardwinningfjords.com">thomas@awardwinningfjords.com</a> and I'll amend the article as necessary.<br />
  </p>
</div>