<% for article in articles[0...1] %>
  <h1><a href="<%= article.path %>"><%= article.title %></a></h1>
  <%= article.body %>
<% end %>  

<div id="comments">
  <h2>Comments?</h2>
  <p>
    Let me know at <a href="mailto:thomas@awardwinningfjords.com">thomas@awardwinningfjords.com</a> and I'll amend the article as necessary.<br />
  </p>
</div>