---
layout: false
---
<!doctype html>
<html>
  <head>
    <title>Apple-style Animation Image Sequence</title>
    <script src="/projects/sequence/requestAnimationFrame.js"></script>
  </head>
  <body>  
    <img id="myImage" src="/projects/sequence/particle-hover/particle_hover_04_00000.png" width="104" height="124">
    <script src="/projects/sequence/apple.js"></script>
    <%= partial "tracking" %>
  </body>
</head>