---
layout: false
---
<!doctype html>
<html>
  <head>
    <title>Canvas Animation Image Sequence</title>
    <script src="/projects/sequence/requestAnimationFrame.js"></script>
  </head>
  <body>  
    <canvas id="canvas" width="104" height="124"></canvas>
    <script src="/projects/sequence/canvas.js"></script>
    <%= partial "tracking" %>
  </body>
</head>