---
layout: false
---
<!doctype html>
<html>
  <head>
    <title>Javascript DOM Animation Image Sequence</title>
    <style>
      #my-particle2 {
        width: 104px;
        height: 124px;
        background: url(/projects/sequence/particle-hover-frames.jpg);
      }
    </style>
    <script src="/projects/sequence/requestAnimationFrame.js"></script>
  </head>
  <body>  
    <div id="my-particle2"></div>
    <script src="/projects/sequence/elem.js"></script>
    
  </body>
</head>