#post {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 73em;
  max-width: 100%;
  background: transparent; }
  #post {
    display: block; }
  #post p, #post h1 {
    padding-left: 24.658%;
    padding-right: 27.397%; }
  #post hr {
    margin-left: 0;
    width: 97.26%%; }
  #post pre {
    margin: 0;
    background-image: none; }
  #post ul {
    padding: 0;
    margin: 0; }
    #post ul li {
      list-style-type: none;
      margin-left: 0px; }
    #post ul li {
      padding-bottom: 30px;
      overflow: hidden;
      display: inline-block; }
      #post ul li {
        display: block; }
      #post ul li .cover {
        display: inline;
        float: left;
        width: 23.288%;
        margin-right: 1.37%;
        /* img
         *   -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.85, transparent), to(rgba(255,255,255,0.45)))
         *   */ }
      #post ul li .content {
        display: inline;
        float: left;
        width: 45.205%;
        margin-right: 1.37%; }
        #post ul li .content h6, #post ul li .content h2 {
          width: auto;
          margin: 0;
          padding: 0; }
        #post ul li .content p {
          padding: 0; }
      #post ul li .player {
        display: inline;
        float: left;
        width: 26.027%;
        margin-right: 1.37%;
        display: inline;
        float: right;
        margin-right: 0;
        /* ugly hacks for IE6-7 */
        #margin-left: -1%;
        /* end ugly hacks */
        padding-top: 20px; }
        #post ul li .player h6 {
          width: auto;
          margin: 0;
          font-size: 3em;
          opacity: 0.3;
          -moz-opacity: 0.3;
          -khtml-opacity: 0.3;
          -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
          filter: alpha(opacity=30);
          padding: 10px 0 20px 60px; }

#comments {
  display: none; }
