#post ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  #post ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px; }
  #post ul li {
    clear: both;
    margin-right: 1.961%;
    margin-left: 1.961%;
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5em;
    border-top: 1px solid #d0d0d0;
    border-top-style: solid;
    border-top-width: 0.083em;
    padding-top: 1.417em; }
    #post ul li .cover {
      display: inline;
      float: left;
      width: 37.255%;
      margin-right: 1.961%; }
    #post ul li .content {
      display: inline;
      float: left;
      width: 47.059%;
      margin-right: 1.961%; }
      #post ul li .content h2 {
        font-size: 1.833em;
        line-height: 1.227em;
        margin-bottom: 0.75em; }
      #post ul li .content h6, #post ul li .content h2 {
        margin-left: 0;
        margin-right: 0;
        padding: 0; }
      #post ul li .content p {
        padding: 0;
        margin-left: 0 !important;
        margin-right: 0 !important; }
    #post ul li .player {
      display: inline;
      float: left;
      width: 7.843%;
      margin-right: 1.961%;
      margin-top: 1.5em;
      display: inline;
      float: right;
      margin-right: 1.961%;
      #margin-left: -1em; }
      #post ul li .player h6 {
        opacity: 0.3;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
        font-size: 2.083em;
        line-height: 1.44em;
        text-align: right; }

#comments {
  display: none; }
