html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-size: 87.5%;
  line-height: 1.5em; }

html > body {
  font-size: 14px; }

body {
  font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", arial, sans-serif;
  color: #413f3d;
  text-rendering: optimizeLegibility; }

.antialias, header h1, header #social, #post p, #post ul, #post ol, #post pre {
  -webkit-font-smoothing: antialiased; }

a {
  color: #af512c; }

h1, h1 a, h2, h2 a, h3, h3 a {
  font-family: "Gill Sans Light", GillSans-Light, "Gill Sans", sans-serif;
  color: #262524;
  font-weight: 200;
  text-decoration: none; }

h1 {
  font-size: 2.143em;
  line-height: 1.12em; }

h2 {
  font-size: 1.571em;
  line-height: 1.336em;
  border-bottom: 1px solid #d0d0d0;
  -moz-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  margin-bottom: 0.75em;
  padding-bottom: 0.375em; }

h3 {
  font-size: 1.286em;
  line-height: 1.167em; }

h1 + p, h1 + ul, h1 + ol {
  margin-top: 1.5em; }

p, pre, ul, ol, .flash, .table {
  margin-bottom: 1.5em; }

p strong {
  font-weight: bold; }

.date, #post h1 span, #post h1 time, #previously ol li span, body.archives ul.archives li span {
  color: #a0a0a0;
  font-size: 10px;
  white-space: nowrap; }

#frame, .center {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
  position: relative; }
  #frame:after, .center:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

header {
  padding-top: 1.125em;
  padding-bottom: 1.125em;
  background: url('/images/pixel-gray.gif?1293833854');
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 -3px 12px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 -3px 12px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 -3px 12px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -3px 12px 0 inset; }
  header h1 {
    font-size: 2.571em;
    line-height: 1.167em; }
    header h1 a {
      color: #dadbb1;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25); }
  header h2 {
    font-size: 1.143em;
    line-height: 1.969em;
    color: #c6c6c6;
    margin: 0;
    border: 0;
    padding: 0;
    -moz-box-shadow: black 0 0 0;
    -webkit-box-shadow: black 0 0 0;
    -o-box-shadow: black 0 0 0;
    box-shadow: black 0 0 0; }
  header #social {
    padding-top: 1.125em;
    font-family: "Gill Sans", GillSans, sans-serif;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    color: #c6c6c6; }
    header #social a {
      color: #c6c6c6;
      text-decoration: none; }
      header #social a:hover, header #social a#contact {
        text-decoration: underline; }

#post {
  margin-top: 3em;
  display: inline;
  float: left;
  width: 68.852%;
  margin-right: 1.639%; }
  #post ul, #post ol {
    list-style-type: disc;
    margin-left: 6.639%; }
  #post .dsq-options, #post #dsq-comments-title, #post #dsq-new-post h3 {
    display: none; }
  #post strong {
    color: #4e4c49; }
  #post p img {
    padding: 3.279%;
    border: 1px solid #d0d0d0;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px; }
  #post blockquote {
    font-size: 1.286em;
    line-height: 1.633em;
    border-left: 6px solid #dadbb1;
    padding-left: 3.279%; }
  #post pre {
    font-family: "Monaco", "Andale Mono", "Lucida Console", monospace;
    color: #4e4c49;
    background: #dadbb1;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #d0d0d0;
    padding-left: 1.639%;
    padding-right: 1.639%;
    border-top-style: solid;
    border-top-width: 0.071em;
    padding-top: 1.429em;
    border-bottom-style: solid;
    border-bottom-width: 0.071em;
    padding-bottom: 1.429em; }
    #post pre:hover {
      overflow: visible; }
    #post pre strong {
      font-weight: normal;
      color: black; }
  #post #comments {
    margin-top: 3em;
    margin-bottom: 3em; }
    #post #comments .block {
      border-bottom: 1px solid #d0d0d0;
      -moz-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
      -webkit-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
      -o-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
      box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
      margin-bottom: 1.5em;
      overflow: hidden;
      *zoom: 1; }
    #post #comments h2 {
      display: inline;
      float: left;
      width: 31.148%;
      margin-right: 1.639%;
      margin: 0;
      -moz-box-shadow: transparent, 0, 0, 0;
      -webkit-box-shadow: transparent, 0, 0, 0;
      -o-box-shadow: transparent, 0, 0, 0;
      box-shadow: transparent, 0, 0, 0;
      border: 0; }
    #post #comments .addthis_toolbox {
      padding-top: 0.9em;
      display: inline;
      float: right;
      margin-right: 0; }

#previously {
  margin-top: 3em;
  display: inline;
  float: left;
  width: 22.951%;
  margin-right: 1.639%;
  display: inline;
  float: right;
  margin-right: 0; }
  #previously ol li {
    font-size: 0.857em;
    line-height: 1.313em;
    margin-bottom: 0.75em; }
    #previously ol li a {
      text-decoration: none; }
      #previously ol li a:hover {
        text-decoration: underline; }

body.index article {
  border-bottom: 1px solid #d0d0d0;
  -moz-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
  margin-top: 1.5em;
  padding-bottom: 1.5em; }
  body.index article.first, body.index article:first-child {
    margin-top: 0; }

body.archives ul.archives li a {
  text-decoration: none; }
  body.archives ul.archives li a:hover {
    text-decoration: underline; }
body.archives #previously {
  display: none; }
