<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    
    <!-- Google Setup -->
    <meta content='VbyiHsqFIT6NSIBRNw/TAnm+9zy0TAmFRiC68lYCoSw=' name='verify-v1' />
    
    <!-- OpenID Setup -->
    <link href='http://www.myopenid.com/server' rel='openid.server' />
    <link href='http://tdreyno.myopenid.com/' rel='openid.delegate' />
    <link href='http://tdreyno.myopenid.com' rel='openid2.local_id' />
    <link href='http://www.myopenid.com/server' rel='openid2.provider' />
    <meta content='http://www.myopenid.com/xrds?username=tdreyno.myopenid.com' http-equiv='X-XRDS-Location' />
    
    <title><%= title %> &laquo; Thomas Reynolds</title>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css?v2">
    
    <!-- RSS -->
    <link href='http://feeds2.feedburner.com/awf-allposts' rel='alternate' title='Award Winning Fjords' type='application/rss+xml' />
  </head>
  <%
    body_class = ""
    body_class = "post" if @context.has_key? :title
    body_class = "archives" if @context.has_key? :archives
  %>
  <body class="<%= body_class %>">
    <div id="header">
      <div class="center">
        <h1><a href="/">Award-Winning Fjords</a></h1>
        <h2>Words &amp; Wisdom by Thomas Reynolds</h2>

        <p id="social">
          <a href="http://github.com/tdreyno">GitHub</a>, <a href="http://twitter.com/tdreyno">Twitter</a> &amp; <a href="http://portfolio.awardwinningfjords.com">Portfolio</a><br />
          <a id="contact" href="mailto:thomas@awardwinningfjords.com">Contact me</a>
        </p>
      </div>
    </div>
    
    <div id="frame">
      <div id="post">
        <%= yield %>
      </div>
      <div id="previously">
        <h2>Previously</h2>
        <ol>
          <% @articles.each do |article| %>
            <li><a href="<%= article.url %>"><%= article.title %></a> <span><%= article[:date].strftime('%b %e') %></span></li>
          <% end %>
        </li>
      </div>
    </div>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-90027-9']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
        'http://www') + '.google-analytics.com/ga.js';
      ga.setAttribute('async', 'true');
      document.documentElement.firstChild.appendChild(ga);
      })();
    </script>
    
    <!-- Observer Analytics -->
    <script type="text/javascript" src="http://www.observerapp.com/record.js"></script>
    <script type="text/javascript">
      try { Observerapp.record("4c89426b8725732d24006347"); } catch(e) {};
    </script>
  </body>
</html>
