---
layout: false
title: "Introducing iPhone-style Checkboxes"
---
<!doctype html>
<html>
  <head>
    <title>iOS Checkboxes &laquo; Thomas Reynolds</title>
    <meta http-equiv="refresh" content="0;url=http://ios-checkboxes.awardwinningfjords.com/">
  </head>
  <body>
    <p>You are being redirected to: <a href="http://ios-checkboxes.awardwinningfjords.com/">http://ios-checkboxes.awardwinningfjords.com/</a></p>
  </body>
</html>